.filter-container {
    padding: var(--size-2) var(--size-3);
    margin: var(--size-3) 0;
    border-bottom: var(--border-size-1) solid var(--surface-3);
    box-shadow: var(--shadow-1);
}

.filter-container label {
    color: var(--text-2)
}

.clients-container {
    display: flex;
    gap: var(--size-fluid-2);
    margin: var(--size-fluid-1) 0;
    flex-wrap: wrap;
}

.clients-container .client {
    max-width: var(--size-14);
    border: var(--border-size-1) solid var(--surface-4);
    border-radius: var(--radius-2);
    padding: var(--size-fluid-1);
    box-shadow: var(--shadow-2);
}
.clients-container .client:hover {
    background-color: var(--surface-2);
}

.clients-container .client div {
    margin: var(--size-2) 0;
}

.clients-container .client .abn {
    color: var(--text-2);
    font-style: italic;
    font-size: var(--font-size-0);
}

.clients-container .client.inactive {
    color: var(--text-2);
    background-color: var(--surface-3);
    box-shadow: var(--shadow-1);
}
.clients-container .client.inactive:hover {
    background-color: var(--surface-4);
}