.filter-container {
    padding: var(--size-fluid-1) var(--size-fluid-2);
    margin: var(--size-fluid-1) 0;
    border-bottom: var(--border-size-1) solid var(--surface-3);
}

.filter-container label {
	/* display: flex;
	align-items: center;
	gap: var(--size-fluid-1); */
    color: var(--text-2)
}

.client-container {

}

.client-container .client {
    border: var(--border-size-1) solid var(--surface-4);
    border-radius: var(--radius-2);
    padding: var(--size-fluid-1) var(--size-fluid-2);
    margin: var(--size-fluid-1) 0;
    box-shadow: var(--shadow-1);
}